body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 0px;
  text-align: center;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.sinopse-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}


.sinopse-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 90%;
}

.sinopse-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.fechar-sinopse-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.username-container {
  max-width: 300px; 
  margin: 0 auto; 
}

.search-container {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.search-container input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
}

.search-container button {
  background-color: #f2f2f2;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.trailer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.trailer-iframe {
  width: 80%;
  height: 80%;
}

.fechar-trailer-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-content: center; /* Alinhar os filmes verticalmente ao centro */
  padding: 10px;
  border-radius: 5px;

}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}


button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}


.search-container button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}


.search-container button::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  margin-right: 5px;
}


.excluir-button {
  background-color: transparent;
  color: #ff4d4d;
  border: none;
  cursor: pointer;
  padding: 2px 6px;
  margin-left: 5px;
  position: relative;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}


.excluir-button:hover {
  background-color: #ff4d4d;
  color: #fff;
}

.movie-type.movie {
  background-color: #2196F3;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}


.movie-type.tv {
  background-color: #4CAF50;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}

.movie-item {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
  padding: 10px; 
  border-radius: 8px; 
}

.recomendacao-container {

  background-image: url('1317117.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  box-sizing: border-box;
}


.recomendacao-container input,
.recomendacao-container select {
  max-width: 300px;
  margin: 0 auto;
}

#recomendacoes {
  padding-top: 950px;
}


.select-menu {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}


.select-menu select {
  appearance: none;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px 30px 8px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}


.select-menu::after {
  content: '\25BE';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #333;
}


.select-menu select option {
  background-color: #f2f2f2;
  color: #333;
}


.select-menu select option:checked {
  background-color: #ccc;
}

.serie-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 8px;
}

.trailer-iframe {
  width: 100%;
  height: 300px; /* Defina a altura desejada para o player do trailer */
  border: none; /* Remova a borda do iframe, se necessário */
}

#trailerError {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}
/* Estilo para o ícone de coração */
.curtir-button {
  background-color: transparent;
  border: none;
  background-image: url('kisspng-computer-icons-like-button-clip-art-cuore-5b195ff214b939.5025564815283896180849.jpg'); /* Substitua 'caminho-para-o-icone-coracao.png' pelo caminho do seu ícone de coração */
  background-size: cover;
  cursor: pointer;
}

/* Estilo para o ícone de coração curtido */
.curtir-button.curtido {
  height: 27px;
  background-image: url('kisspng-heart-computer-icons-like-button-clip-art-instagra-instagram-love-like-red-heart-5ba43e18244bb6.8865388315374904561487.jpg'); /* Substitua 'caminho-para-o-icone-coracao-curtido.png' pelo caminho do seu ícone de coração curtido */
}

  /* Estilo para cada item de recomendação */
  .recomendacao-item {
    max-width: 250px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  /* Estilo para o título do filme ou série */
  .recomendacao-item h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  /* Estilo para a imagem do poster */


  /* Estilo para o tipo de mídia (filme ou série) */
  .recomendacao-item p {
    font-size: 14px;
    margin-bottom: 3px;
  }

  /* Estilo para o ID do filme ou série */
  .recomendacao-item .id {
    font-size: 12px;
    color: #888;
  }

  /* Estilo para o ID do trailer do filme ou série */
  .recomendacao-item .trailer-id {
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
  }
 

@media screen and (max-width: 600px) {
  .movies-grid {
    grid-template-columns: repeat(2, 180px); /* Exibir dois filmes por linha em dispositivos móveis */
  }
}


@media screen and (min-width: 601px) {
  .movies-grid {
    grid-template-columns: repeat(5, 180px);
  }
}

@media screen and (max-width: 600px) {
  .movie-poster {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
  }
}


@media screen and (min-width: 601px) {
  .movies-grid {
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
  }
}

@media screen and (max-width: 767px) and (min-height: 800px) {
  .recomendacao-container {
    
    margin-bottom: 20px; 
  }
}
